* {
  font-family: Arial, Helvetica, sans-serif;
}

.topbar {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.nappulat {
  display: flex;
  justify-content: center;
  margin: 7px 5px 7px;
  text-align: left;
}

.kotiotsikko {
  display: flex;
  justify-content: center;
  color: #bb86fc;
  opacity: 90%;
}

body {
  background-color: #121212;
}

.Tab {
  cursor: pointer;
}
.kalenteri {
  margin: 5%;
  background-color: darkgrey;
  padding: 5px;
}

.fc {
  background-color: darkgrey;
}
